body{
    background-image: linear-gradient(to right, rgb(131, 83, 150), rgb(206, 92, 92) );


}

p{
    color: beige;
    font-size: 25px;
    text-align: center;
}
#imgs{
    width: 600px;
    height: 600px;
    margin-left: 30%;
}